@media (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #members.list .card {
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 768px) {

    .events, .weather {
        display: flex;
        justify-content: space-between;
    }

    .spotlights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .join-container {
        display: flex;
        gap: 2rem;
    }

    .cards {
        width: 40%;
    }
}