body {
    margin: 0;
    font-family: Arial;
}

/* NAV */
nav ul {
    display: none;
    list-style: none;
    padding: 0;
}

nav ul.open {
    display: block;
}

nav a {
    color: white;
    text-decoration: none;
}

header {
    background: #003366;
    padding: 1rem;
}
h1{
    text-align: center;
}

.active {
    text-decoration: underline;
}

/* MEMBERS */
#members.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#members.list img {
    display: none;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
}

/* FOOTER */
footer {
    text-align: center;
    background: #003366;
    color: white;
    padding: 1rem;
}
.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}

.cta {
    background: orange;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.join-container {
    display: block;
}

.cards {
    margin-top: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
